{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
    <div>
        <h3>
            List of movies:
        </h3>
        <div class="table-responsive">
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>URL</th>        
                </tr>
            </thead>
            <tbody>
                {% for movie in movies %}
                    <tr>
                        <td>{{ movie.movieid }}</td>
                        <td>{{ movie.title }}</td>
                        <td><a href="{{movie.url}}">IMDB</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        </div>
    </div>    
{% endblock %}